* {
  margin: 0px;
  padding: 0px;
}

.app-body {
  display: flex;
  background-color: #ededed;
  /* margin-top: -50px; */
  height: 100vh;
  overflow: scroll;
}

.app-body::-webkit-scrollbar {
  display: none;
}

html {
  -webkit-tap-highlight-color: transparent;
}
